
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', 'sans-serif';
}

/*Because 10px is rounder and easyer than 16px for me*/
:root {font-size: 10px;}

html{scroll-behavior: smooth;}

h1 {font-size: 4rem;}

h2 {font-size: 2rem;}

a {text-decoration: none; color: #ffe4c4;}


/*---------------------------Navegation bar code---------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

nav div {
    color: #ffe4c4;
    font-size: 3rem; 
    position: fixed; 
    top: 1vh; 
    left: 1vh;
    display: none;
}

nav ul {list-style: none; text-align: center;}

ul li{
    display: inline-block;
    margin: 0 10px;
    font-size: 3rem;
    font-weight: bold;
}

nav a:hover {color: #d0604c;}
/*-------------------------------------------------------------------------*/

/*----------------------------Home section code----------------------------*/
header {
    position: relative;
    min-height: 100vh;
    background-color: #ffe4c4;
    background-image: url(images/header_bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*Animation with CSS only smooth transition not compatible in firefox*/
    animation: background_slide 100s cubic-bezier(1,-0.15,.72,.77) infinite;
}

@keyframes background_slide {
    0%, 100%{background-image: url(images/header_bg_1.jpg);}
    10%{background-image: url(images/header_bg_2.jpg);}
    20%{background-image: url(images/header_bg_3.jpg);}
    30%{background-image: url(images/header_bg_4.jpg);}
    40%{background-image: url(images/header_bg_5.jpg);}
    50%{background-image: url(images/header_bg_6.jpg);}
    60%{background-image: url(images/header_bg_7.jpg);}
    70%{background-image: url(images/header_bg_8.jpg);}
    80%{background-image: url(images/header_bg_9.jpg);}
    90%{background-image: url(images/header_bg_10.jpg);}
}

.presentation {
    position: absolute;
    top: 15vh;
    left:65vw;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

/*Logo image*/
.presentation > img{  
    padding-top: 70px;
    width: 26vw;
    margin: 20px auto;
}

/*Text under logo*/
.presentation > p {
    max-width: 30vw;
    width: 100%;
    font-size: 2vw;
    word-spacing: 0.8rem;
    font-weight: bolder;
    color: #ffe4c4;
    text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.8);
    text-align: justify;
    margin: 40px auto 70px auto;
}

p span {color: #d0604c;}

/*Booking button code*/
.presentation > a {
    font-size: 1.3vw;
    padding: 20px 25px;
    border: 2px solid #d0604c;
    border-radius: 50px;
    font-weight: 600;
    background-color: #d0604cb0;
    transition: 0.7s;
}

.presentation > a:hover {
    background-color: transparent;
    box-shadow: 0 0 30px #d0604c, 
                0 0 30px #d0604c;
    text-shadow: 0 0 15px #d0604c,
                 0 0 15px #d0604c;
    border: 2px solid #d0604c;
    color: #d0604c;  
}
/*-------------------------------------------------------------------------*/

/*----------Container for all the section in the rest of the page----------*/
main {
    width: 100%;
    margin: 0 auto;
    justify-content: center;   
}
/*-------------------------------------------------------------------------*/

/*---------------------------About section code----------------------------*/
#about {
    display: flex;
    min-height: 100vh;
    width: 90%;
    margin: 40px auto;
    padding-top: 45px;
}

.about_text_container {
    display: flex;
    flex-direction: column; 
    min-height: 90vh;
    margin-left: 5vw;
    text-align: center;
    color: #8a6d46;
}

.about_text_container p {
    font-size: 2em;
    text-align: justify;
    margin: 20px auto;
}

.about_text_container h1 {margin-bottom: 40px;}

.about_img_medium_container {display: none;}

.about_icons_container {
    display: flex;
    margin-top: 25vh;
    justify-content: space-around;
}

.about_icons_container div {
    border: 2px solid #8a6d46;
    border-radius: 10px;
    padding: 10px;
    background-color: #d7c7ae80;
    cursor: pointer;
    transition: 0.9s;
}

.about_icons_container div img {
    width: 10vw !important;
    height: 15vh !important;
    color: #8a6d46 !important;
}

.about_icons_container div:hover {background-color: #ffe4c4;}

.about_icons_container div p {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

/*Code for the popup elements*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82%;
    height: 80%;   
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /*Flex is added with JS onclick*/
    flex-direction: column;
    font-size: 30px;
    color: #ffe4c4;
  }

  .popup button {
    margin-top: 30px;
    font-size: 40px;
    background-color: #d7c7ae;
    border-radius: 10px;
    padding: 5px;
}
/*-------------------------------------------------------------------------*/


/*-------------------------Promotions section code-------------------------*/
#promotions_info {
    padding: 10px 5vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center; 
    background-color: #d7c7ae;
    color: #8a6d46;
    background-image: url(images/promotions_decoration_image_top.png);
    background-color: #d7c7ae80;
    background-repeat: no-repeat;
    background-position: top;
    background-size:100% 100%;
}

#promotions_info p {
    font-size: 2rem;
    text-align: justify;
    padding: 80px 0 20px 0;
}

.promotions {
    display: flex;
    width: 100%;
    min-height: 50vh;
    padding: 20px 5vw;
    justify-content:space-evenly;
    background-color: #d7c7ae80;
    background-image: url(images/promotions_decoration_image_bottom.png);
    background-repeat:no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
}

.promotions p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 10px;
}

.promotions article {
    max-width: 25vw;
    text-align: center;
    margin: auto;
    margin-bottom: 10vh;
    transition: 0.9s;
}

/*Code to make the borders of the text of Promotions
 match the borders of the pictures below------------*/
.promotions article:first-child {margin-left: 0;}
.promotions article:last-child {margin-right: 0;}
/*-------------------------------------------------*/


/*Code to make promotion images get bigger and darker on hover*/
.image_container {
    position: relative;
    margin-bottom: 30px;
    width: 25vw;
}

.background_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.image_container:hover .background_container {opacity: 1; z-index: 2;}

.promotions article img {width: 100%;}

.promotions article:hover {transform: scale(1.1);}
/*-------------------------------------------------------------------------*/


/*--------------------------Booking section code---------------------------*/
#booking {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), 
                                      rgba(0, 0, 0, 0.6)), 
                                      url(images/Booking_salon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#booking > h1 {
    text-align: center;
    color: #ffe4c4;
    margin: 20px auto;
}

.booking_form_image_container{display: flex;}

.form_container {
    width: fit-content;
    border: 3px solid #d7c7ae;
    margin: 0 10vw;
    padding: 0 30px;
}

.contact_name, .email, .subject {
    width: 40vw;
    height: 60px;
    margin: 20px auto;
    font-size: 2rem;
}

.message {
    width: 40vw;
    height: 300px;
    margin: 20px auto;
    font-size: 2rem;
}

.send_message {
    width: 150px;
    height: 50px;
    margin: 20px auto;
    font-size: 2rem;
}

.send_message:hover {background-color: #ffe4c4;}

input, textarea {background-color: #d7c7ae; border: none;}

.booking_form_image_container {align-items:center;}

.booking_image_container img {width: auto; max-height: 80vh;}
/*-------------------------------------------------------------------------*/


/*------------------------------Footer code--------------------------------*/
footer {
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.845);
}

.footer_logo img{max-width: 30vw;}

.copyright { font-size: 2rem; font-weight: 600; color: #ffe4c4;}
/*-------------------------------------------------------------------------*/


/*-----------------------------Resposive code------------------------------*/
@media screen and (max-width: 1140px) {

    .booking_form_image_container {align-items: flex-end;}
    .booking_image_container img {
        width: 30vw;
        max-height: 80vh;
        overflow: hidden;} 
}

/*-------------------------------For tablets-------------------------------*/
@media screen and (max-width: 768px) {

    .about_img_large {display: none;}
    .about_img_medium_container {display: flex; justify-content: center;}
    .about_img_medium {display: block; width: 100%; height: auto;}
    .about_icons_container {margin-top: 5vh; justify-content: space-between;}
}

/*-------------------------------For phones--------------------------------*/
@media screen and (max-width: 500px) {
   
    nav ul {display: none;}
    nav ul.visible {
        display: flex;
        flex-direction: column;
    }
    nav div {display: block;}

    header {
        background-image: url(images/header_bg_small_1.jpg);
        animation: background_slide 40s cubic-bezier(1,-0.15,.72,.77) infinite;
    }

    @keyframes background_slide {
        0%, 100%{background-image: url(images/header_bg_small_1.jpg);}
        25%{background-image: url(images/header_bg_small_2.jpg);}
        50%{background-image: url(images/header_bg_small_3.jpg);}
        75%{background-image: url(images/header_bg_small_4.jpg);}
    }

    .presentation {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .presentation > img{width: 70vw;}
    .presentation > p {max-width: 70vw; font-size: 5vw;}
    .presentation > a {font-size: 4vw;}

    .about_icons_container div {padding: 2px;}
    .about_icons_container div img {width: 15vw !important;}
    .popup {width: 82%; height: 80%; font-size: 20px;}
    .popup button {font-size: 20px;}

    .promotions {flex-direction: column; text-align: center;}
    .promotions article {max-width: 100%; padding: 10px 0; margin: 5px 0;}
    .image_container {width: 90vw;}
    
    


    .booking_image_container {display: none;}
    .booking_form_image_container {justify-content: center;}
    .contact_name, .email, .subject, .message {width: 80vw;}
    
    .copyright {font-size: 1rem; font-weight: 600; color: #ffe4c4;}

}
/*-------------------------------------------------------------------------*/